/* body {
  align-items: center;
  background: #dfdfdf;
  display: flex;
  height: 80vh;
  justify-content: center;
  text-align: center;
}
*/

body {
  background: #252a36;
  color: #f8f8f2;
  font-family: 'Roboto', sans-serif;
}

#name-header {
  color: #50fa7b;
  margin: auto;
  text-align: center;
  font-size: 4vw;
}
