body {
   align-items: center;
   background: #dfdfdf;
   display: flex;
   height: 100vh;
   justify-content: center;
   text-align: center;
 }

 .message-div {
   align-items: center;
   background: repeating-linear-gradient(
     45deg,
     #737373,
     #737373 30px,
     #e0d274 30px,
     #e0d274 60px
   );
   border-radius: 40px;
   border: solid #545454 5px;
   display: flex;
   font-size: 3em;
   height: 20%;
   justify-content: center;
   margin-left: auto;
   margin-right: auto;
   padding: 60px;
   position: relative;
 }

 .message {
   background: white;
   border-radius: 40px;
   border: solid #545454 5px;
   display: inline;
   padding: 40px;
   word-wrap: normal;
 }


/* body {
  align-items: center;
  background: #dfdfdf;
  display: flex;
  height: 80vh;
  justify-content: center;
  text-align: center;
}
*/

/* body {
  background: #252a36;
  color: #f8f8f2;
  font-family: 'Roboto', sans-serif;
}

#name-header {
  color: #50fa7b;
  margin: auto;
  text-align: center;
  font-size: 4vw;
}

#about {
  margin-left: 1%;
  width: 98%;
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.showcase {
  border: 2px #6272a4 solid;
  width: 32%;
  padding: 3px;
  margin: 3px;
}

.showcase a {
  color: #8be9fd
}

.showcase-header {
  font-size: 1.1vw;
  text-decoration: underline;
  color: #bd93f9;
}

/* Mobile Overrides */
@media (max-width: 767px) {
  #name-header {
    font-size: 10vw;
  }
  .showcase-header {
    font-size: 4vw;
  }
  #about {
    flex-direction: column-reverse;
  }

  .showcase {
    width: auto;
  }
}
*/
